@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

:root {
    --white-primary: hsl(0, 0%, 100%);
    --orange-primary: hsl(31, 98%, 56%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
    overflow-x: hidden;
}

header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.188rem;
}

button {
    width: 9.375rem;
    height: 2.5rem;
    border: 0;
    border-radius: 25px;
    color: var(--white-primary);
}

.link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.875rem;
}

.link-container > a {
    cursor: pointer;
}

.socials-container {
    display: flex;
    max-width: 60px;
    gap: 20px;
}

.socials-container > img {
    width: 24px;
    height: 24px;
}

.main {
    margin: 0 auto;
    position: relative;
    max-width: 71rem;
    height: 37.5rem;
    object-fit: cover;
    object-position: 50% 50%;
    background-image: url("./images/chocolate-main.jpg");
    border: 0;
    border-radius: 25px;
    margin-top: 30px;
}

.main > p {
    max-width: 28.125rem;
    position: absolute;
    font-size: 2rem;
    left: 40px;
    bottom: 117px;
    color: var(--white-primary);
}

.btn-container {
    display: flex;
    position: absolute;
    left: 40px;
    bottom: 40px;
    gap: 1rem;
}

.btn-container > button:first-child {
    background-color: var(--orange-primary);
}

.btn-container > button:nth-child(2) {
    border: solid 1px var(--white-primary);
    background-color: transparent;
}

.scroll {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 40px;
    right: 40px;
    color: var(--white-primary);
    gap: 0.7rem;
}

.icon {
    width: 2.5rem;
    height: 2.5rem;
    border: 0;
    border-radius: 50%;
    background-color: var(--white-primary);
}

.how-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.title {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
}

.orange {
    color: var(--orange-primary);
}

.how-wrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
}

.how-wrapper > img {
    width: 600px;
    height: 400px;
    border: 0;
    border-radius: 10px;
}

.how-text {
    max-width: 400px;
}

.how-text > p {
    font-weight: 800;
    margin-bottom: 24px;
}

.how-text > ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.top-seller {
    margin-top: 30px;
}

.img-container {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    padding-top: 50px;
}

.img-container > img {
    border-radius: 10px;
}

.text-btn-container {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 200px 0 200px;
}

.text-btn-container > p {
    max-width: 400px;
}

.text-btn-container > button {
    background-color: var(--orange-primary);
}
